<div class="box">
	<div class="box-header">
		<h2><i class="halflings-icon user"></i><span class="break"></span>Customers</h2>
	</div>
	<div class="box-content">
		<table id="customers-list" class="table table-bordered table-striped table-hover table-condensed bootstrap-datatable datatable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Added By</th>
					<th>Added</th>
				</tr>
			</thead>
			<tbody>
			{{#each customers}}
				<tr rel="view-customer" data-job-id="{{customer_id}}" class="clickable-row">
					<td>{{lname}}, {{fname}}</td>
					<td>{{user_lname}}, {{user_fname}}</td>
					<td>{{getDateFromTimestamp timestamp}}</td>
				</tr>
			{{/each}}
			{{#unless customers}}
			<tr><td colspan="3">No Customers Found</td></tr>
			{{/unless}}
			</tbody>
		</table>
	</div>
</div>